{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
  <h2>🎵 อัปโหลดไฟล์เสียงเพื่อแยกเสียง</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.original_file.label_tag }}
      {{ form.original_file }}
      
      {% for error in form.original_file.errors %}
        <span class="text-danger small d-block mt-1">{{ error }}</span>
      {% endfor %}
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">อัปโหลด & แยกเสียง</button>
  </form>
</div>
{% endblock %}
